root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
indent_style = space
indent_size = 4

[backend/**/Infrastructure/Persistence/Migrations/*.cs]
generated_code = true
dotnet_diagnostic.CA1861.severity = none
